
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    align-items: center;
    height: 70vh;
    min-height: 600px;
  
}

.contentcontainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 35px;
}

h1 {
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.h1container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

p {
    padding-right: 5rem;
}



.mainwrapper {
    max-width: 1440px;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    background-color: #ffa500;
    font-size: 19px;
    font-weight: 300;
    align-self: flex-start;
}

button:hover {
    cursor: pointer;
}
li {
    list-style: none;
    display: inline;
    margin: 10px;
}

li:hover {
    cursor: pointer;
}
.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 75%;
    min-width: 347px;
    border-radius: 50%;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

footer {
    display: flex;
    justify-content: center;
}